/*@import 'tailwindcss';*/

/*@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views!*.blade.php';*/
/*@source '../../storage/framework/views!*.php';*/
/*@source '..!**!*.blade.php';*/
/*@source '..!**!*.js';*/

/*@theme {*/
/*    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',*/
/*        'Segoe UI Symbol', 'Noto Color Emoji';*/
/*}*/
:root {
    --color-primary: #8FBC8F;
    --color-contrast: #A64103;
}

*{
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
select{
    width: 200px;
    height: 25px;
    margin-right: 10px;
}
input{
    width: 192px;
    margin-right: 10px;
}

header{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
footer, header, .form__submit{
    background: var(--color-primary);
}

.menu-items{
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.menu-item{
    list-style: none;
}
header, footer, .menu-item a{
    color: aliceblue;
}

.footer__items{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.form{
    width: 50%;
    max-width: 500px;
}
.form__item{
    display: flex;
    justify-content: space-between;
}

.login.form{
    padding: 60px 0;
}

.form__item input{
    width: 68%;
    max-width: 711px;
    height: 89px;
    margin: 0 auto 40px;
    font-size: 36px;
    padding-left: 30px;
    border: 4px solid var(--color-primary);
    border-radius: 8px;
}

input.form__submit{
    color: #fff;
    margin-bottom: 20px;
}

.login{
    width: 72%;
    max-width: 1034px;
    margin:0 auto;
    border: 4px solid var(--color-primary);
    border-radius: 8px;
}

.form__links{
    margin: 0 auto;
    display: flex;
    gap: 40px;
    width: 68%;
    max-width: 711px;
}

.form__links a{
    color: var(--color-contrast);
}

.operation__table td, .operation__table th{
    border: 1px solid var(--color-contrast);
    padding: 2px 4px;
}
